/*       NAVIGATION       */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.nav{
  width: 265px;
  height: 94.5%;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 30px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.user h2{
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
}

.user-img{
  width: 40px;
  border-radius: 50%;
  margin: auto;
}
.star-img{
  width: 20px;
}
.nav, .user-img{
  margin: 0;

}
a{
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0);
  
}
ul{
  list-style: none;
  padding: 0 15px;
}

ul li{
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.ulliimg ul li img{
  width: 100%;
  margin-right: 10px;
  border-radius: 8px;
}

ul li img{
  width: 30px;
  margin-right: 10px;
}

ul li p{
  white-space: nowrap;
}

/* MUSIC PLAYER */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  margin: 0;
}

/* h1{
  color: #fff;
  position: relative;
  top: 200px;
} */

.music-container {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 20px 30px;
  position: fixed; /* relative */
  bottom: 0;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container img {
  border-radius: 5%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: rgba(255, 255, 255, 0.01);
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px 8px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.4s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #000;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/* BACKGROUND-VIDEO */

.background-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
